main{
    background-color: black;
    padding: 5px;
}
.formulario{
    background-color: black;
    border-width: 4px;
    border-style: solid;
    color: whitesmoke;
    padding: 50px;   
}
h4{
    text-align: center;
    
    
}